   
    <!-- =========================
     PRE LOADER       
    ============================== -->
    <div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>
    
    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <div>
    <header class="header" data-stellar-background-ratio="0.5" id="home">
        
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">            
            <!-- CONTAINER -->
            <div class="container">
                
                <!-- ONLY LOGO ON HEADER -->
                <div class="only-logo">
                    <!-- <div class="navbar"> -->
                        <div class="nav-header">
                            <%#= link_to image_tag("logo-2.png") %>
                        </div>
                    <!-- </div> -->
                </div>
                
                <!-- /END ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            
                            <!-- WELCOM MESSAGE -->
                            <h1 class="intro white-text">Simple and Easy to use.</h1>
                            <h5 class="white-text">View your ECG Schedule in 2 clicks. </h5>
                            
                            <!-- BUTTON -->
                            <div class="button">
                                <li class="m-r-10 input-prepend inside search-form no-boarder"> 
                                    <span class="add-on"> 
                                        <span class="iconset top-search"></span>
                                    </span>
                                    <input name="" type="text" class="no-boarder" placeholder="Enter your location" style="width:350px; text-align:center">
                                </li>
                                <a href="#section11" class="btn btn-primary secondary-button">Search Schedule</a>
                            </div>
                            <!-- /END BUTTON -->
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>
    
    <!-- =========================
     SECTION: CLIENTS LOGOs
    ============================== -->
   <!--  <div class="clients white-bg">
        <ul class="client-logos">
            <li>
                <#%= link_to image_tag("companies/1.png") %>
            </li>
            <li>
                <#%= link_to image_tag("companies/2.png") %>
            </li>
            <li>
                <#%= link_to image_tag("companies/3.png") %>
            </li>
            <li>
                <#%= link_to image_tag("companies/4.png") %>
            </li>
            <li>
                <#%= link_to image_tag("companies/5.png") %>
            </li>
            <li>
                <#%= link_to image_tag("companies/6.png") %>
            </li>
        </ul>
    </div> -->
    
    <!-- =========================
     SECTION: SERVICES
    ============================== -->
    <section class="services grey-bg" id="section1">
        <div class="container">
            
            <!-- SECTION HEADER -->
            <div class="section-header">
                
                <div class="small-text-medium uppercase colored-text">
                    FEATURES
                </div>
                <div class="sub-heading">
                    Dumsoly helps you make sense of the ECG Load Shedding Guide. 
                </div>
                <div class="sub-heading">
                    Give feedback on the schedule and easily share with friends and family.
                </div>
                <br/>
                <div class="colored-line">
                </div>
            </div>
            
            <div class="row">
                
                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-basic-webpage-multiple"></span>
                        </div>
                        <h3 class="colored-text">Simple Layout</h3>
                        <p>
                            We've simplified the ECG Schedule for you by location.
                        </p>
                    </div>
                </div>
                
                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-ecommerce-graph3"></span>
                        </div>
                        <h3 class="colored-text">Smart Graphs</h3>
                        <p>
                            View the schedule metrics and overview.
                        </p>
                    </div>
                </div>
                
                <!-- SINGLE SERVICE -->
                <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                    <div class="single-service border-bottom-hover">
                        <div class="service-icon colored-text">
                            <span class="icon-basic-geolocalize-05"></span>
                        </div>
                        <h3 class="colored-text">Get Notifications</h3>
                        <p>
                            View your schedule by location. Easy to use. 
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    


    <!-- =========================
     SCRIPTS   
    ============================== -->
   
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
    
