<div class="container">
<p id="notice"><%= notice %></p>
<div class="schedules-view">

<h1>Listing Schedules</h1>

<div id="calendar">
  
</div>


<br>

<%= link_to 'New Schedule', new_schedule_path %>

</div>

</div>
