	<p id="searchParam" style="display: none"><%= @search %></p>
	<p id="notice"><%= notice %></p>

		<div class="row">
			
			<div class="tiles row tiles-container red no-padding">
				
				<div class="tiles white no-padding">
					<div class="tiles-body">
						
						<div id="calendar"></div>
					</div>
				</div>

				<div class="tiles red no-padding">
					<div class="tiles-body">
						<div class="calender-options-wrapper">
							<h3 class="text-white semi-bold" id="calender-current-day"></h3>
							<h2 class="text-white" id="calender-current-date"></h2>
							<div id='external-events' class="hide-inphone events-wrapper">
								<div class="events-heading">&nbsp;This Week's Summary</div>
								<%# @schedules.each do |schedule| %>
								<%#= schedule.status.map { |key, value| !value.count  } %>
								<div class='external-event'>
								3 Off Days
								</div>
							
								<div class='external-event'>Monday, Tuesday, Wednesday</div>
								
							</div>
						</div>								
					</div>
				</div>
			</div>
		</div>
		<br>
	


	<br>

	<%= link_to 'New Schedule', new_schedule_path %>

	


