<footer id="footer">
  <small>
    Copyright 2014. All rights reserved. Built with love by <a href="http://www.twitter.com/esteedqueen">E.O.</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://twitter.com/dumsolyapp">Connect With Us</a></li>
    </ul>
  </nav>
</footer>