 <!-- FOOTER -->
    <footer class="footer grey-bg">
        ©2014 Dumsoly App. All Rights Reserved
        
        <!-- OPTIONAL FOOTER LINKS -->
        <ul class="footer-links small-text">
            <li><%= link_to "How it works",   about_path, class: "dark-text" %></li>

            <li><a href="#" class="dark-text">Contact</a>
            </li>
            <li><a href="#" class="dark-text">Privacy</a>
            </li>
        </ul>
        
        <!-- SOCIAL ICONS -->
        <ul class="social-icons">
            <li><a href="#"><span class="icon-social-facebook transparent-text-dark"></span></a>
            </li>
            <li><a href="#"><span class="icon-social-twitter transparent-text-dark"></span></a>
            </li>
        </ul>
        
    </footer>
    