 <!-- =========================
     PRE LOADER       
    ============================== -->
    <div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>
    
    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" data-stellar-background-ratio="0.5" id="home">
        
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">
            
            <!-- STICKY NAVIGATION -->
            <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation appear-on-scroll" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        
                        <!-- LOGO ON STICKY NAV BAR -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stamp-navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-grid-2x2"></span>
                        </button>
                        
                        <!-- LOGO -->
                        <a class="navbar-brand" href="#">
                            <img src="images/logo-nav.png" alt="">
                        </a>
                        
                    </div>
                    
                    <!-- TOP BAR -->
                    <div class="navbar-collapse collapse" id="stamp-navigation">
                        
                        <!-- NAVIGATION LINK -->
                        <ul class="nav navbar-nav navbar-left main-navigation small-text">
                            <li><a href="#section2">Why Us?</a>
                            </li>
                            <li><a href="#section5">Benefits</a>
                            </li>
                            <li><a href="#section6">Pricing</a>
                            </li>
                            <li><a href="#section7">Explore</a>
                            </li>
                            <li><a href="#section10">Testimonials</a>
                            </li>
                            <!-- <li><a href="http://example.com" class="external">External Link Example</a></li> -->
                        </ul>
                        
                        <!-- LOGIN REGISTER -->
                        <ul class="nav navbar-nav navbar-right login-register small-text">
                            <li class="login js-login"><a href="#">Login</a>
                            </li>
                            <li class="register-button js-register inpage-scroll"><a href="#section11" class="navbar-register-button">Get Started</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /END CONTAINER -->
            </div>
            <!-- /END STICKY NAVIGATION -->
            
            <!-- CONTAINER -->
            <div class="container">
                
                <!-- ONLY LOGO ON HEADER -->
                <div class="only-logo">
                    <div class="navbar">
                        <div class="navbar-header">
                            <img src="images/logo-2.png" alt="">
                        </div>
                    </div>
                </div>
                
                <!-- /END ONLY LOGO ON HEADER -->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">
                            
                            <!-- WELCOM MESSAGE -->
                            <h1 class="intro white-text">Simple, Reliable and Awesome.</h1>
                            <h5 class="white-text">Tablet publishing HTML5 mobile first really simple syndication meetups</h5>
                            
                            <!-- BUTTON -->
                            <div class="button">
                                <a href="#section11" class="btn btn-primary standard-button inpage-scroll">Get Started</a>
                            </div>
                            <!-- /END BUTTON -->
                            
                        </div>
                        <!-- /END HEADNING AND BUTTONS -->
                    </div>
                </div>
            </div>
        </div>
    </header>