<header class="navbar navbar-fixed-top navbar-inverse">
	  <div class="container">
	    <%= link_to "Dumsoly", root_path, id: "logo" %>
	    <nav>
	      <ul class="nav navbar-nav pull-right">
	        <li><%= link_to "How it works",   about_path %></li>
	        <li><%= link_to "Log in",   login_path %></li>
	        <li><%= link_to "Sign up", signup_path %></li>
	      </ul>
	    </nav>
	  </div>
</header>

